<a href="/users/#{@user.slug}/goodbye">Log out </a><br>
<a href="/users/#{@user.slug}/edit">Edit </a><br>
<a href="/users/#{@user.slug}">Profile</a><br>


<h1>Reddit Homefeed</h1>
<a href="/subreddits">Explore Subreddits</a>

<h3>Explore Subreddits Below</h3>
<% Post.all.each do |post| %> 
    <%=  post.title %><br>
<% end %>