<% if flash.has?(:message) %> <%= flash[:message] %> <% end %>
<br>

<h1>Login</h1>
<form action="/login" method="post"> 
    <lable for="username">Username</lable>
    <input type="text" id="user[username]" name="username">
    <lable for="Password">Password</lable>
    <input type="text" id="user[password]" name="password">
    <input type="submit" value="Login">
</form>