<h1>New User</h1>

<form action="/" method="post"> 
    <lable for="username">Username</lable>
    <input type="text" id="user[username]" name="username">
    <lable for="Password">Password</lable>
    <input type="text" id="user[password]" name="password">
    <input type="submit" value="Create Account">
</form>