<h1>Create a new Sub </h1>

<form action='/subreddits' method="post">
    <lable for="sub_title">Title:<br>
    <input type="text" name="sub[title]" id="sub_title"><br>
    <br>
    <lable for="sub_description">Description:<br>
    <input type="text" name="sub[description]" id="sub_description">
    <br>
    <input type="submit" value="submit">
</form>