

<h1>Reddit</h1>
If you are a returning user <a href="/login">Log In</a><br>
If you are a new user <a href="/new">Sign Up</a> 
<h3>Popular Post</h3>
<% Post.all.each do |post| %> 
    <%=  post.title %><br>
<% end %>

